/* reset */
* {
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, div, section, dl, dd{
  margin: 0;
}
ul{
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}
input,
textarea{
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  outline: none;
  border: none;
  padding: 0;
  &::placeholder{
    color: #A6A9B6;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;600;700;800&display=swap');

/*  */
body{
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  background: linear-gradient(to right, #E0C3FC66, #8EC5FC66);
  color: #667085;
}
.container{
  padding: 2rem 2rem 10rem;
}
.container-inner{
  max-width: 1120px;
  margin-inline: auto;
}
.sec-head{
  margin-bottom: 3rem;
}
.sec-head-acc{
  margin-bottom: 3rem;
  text-align: right;
}
.sec-head-acc a,
.sec-head-acc button{
  display: inline-flex;
  align-items: center;
  gap: .4rem;
  color: #667085;
}
.sec-head-logo{
  margin-bottom: 1.4rem;
}
.sec-head-logo a{
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: 800;
  color: #101828;
}
.sec-head>p{
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.37;
  margin-bottom: 1.6rem;
}
.search-box{
  background: #fff;
  border-radius: .8rem;
  overflow: hidden;
  position: relative;
}
.search-box:before{
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: url(/search.svg) no-repeat center center / contain;
  position: absolute;
  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
}
.search-input{
  padding: 1.4rem 1.6rem 1.4rem 4rem;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #667085;
}
#list-posts{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
#list-posts>li{
  background: #fff;
  border-radius: .8rem;
  overflow: hidden;
  box-shadow: 0 12px 16px -4px rgba(16, 24, 40, .1), 0 4px 6px -2px rgba(16, 24, 40, .05);
  cursor: pointer;
  transition: .2s ease;
  &:hover{
    transform: translateY(-.4rem);
  }
}
.post-txt{
  padding: 2rem 2rem 2.6rem;
}
.post-txt h3{
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #101828;
  line-height: 1.26;
  margin-bottom: 1.2rem;
}
.post-txt div{
  line-height: 1.5;
  margin-bottom: 1.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.post-txt p{
  padding-top: 1.6rem;
  border-top: 1px dashed #A6A9B6;
}

#btn-create{
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: .4rem;
  background: #101828;
  border-radius: 4px;
  padding: .6rem 1.2rem .6rem .8rem;
  color: #fff;
  margin: 0 0 1.6rem auto;
}
#btn-create svg{
  width: 1.8rem;
}
.my-page .post-txt{
  position: relative;
}
.my-page .post-txt:before{
  content: "";
  display: inline-block;
  width: 2.3rem;
  height: 2.3rem;
  background: url(/edit.svg) no-repeat center center / contain;
  position: absolute;
  bottom: 2.4rem;
  right: 2rem;
}
#modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  background: rgba(0,0,0,.8);
  display: flex;
  align-items: center;
  justify-content: center;
  &.is-hidden{
    display: none;
  }
  input,
  textarea{
    width: 100%;
    padding: 1.4rem;
    border: 1px solid #A6A9B6;
    border-radius: .8rem;
  }
  textarea{
    height: 180px;
  }
  dt{
    margin-bottom: 0.6rem;
  }
  dd{
    margin-bottom: 1.6rem;
  }
}
#modal-close{
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  svg{
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
}
.modal-inner{
  background: #fff;
  border-radius: 2rem;
  width: min(100%, 70rem);
  height: 40rem;
  padding: 2rem;
}
.modal-btn{
  display: flex;
  justify-content: flex-end;
  gap: 1.6rem;
}
#modal-delete{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D34E4E;
  border-radius: 50%;
  padding: 0.8rem;
  width: 4rem;
  height: 4rem;
  svg{
    width: 2.2rem;
    height: 2.2rem;
  }
}
#modal-save{
  background: #101828;
  border-radius: 4px;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.4rem;
  width: 100%;
}
.modal-post{
  #modal-ttl{
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: #101828;
    line-height: 1.26;
    margin-bottom: 1.4rem;
  }
  #modal-body{
    line-height: 1.5;
    margin-bottom: 1.4rem;
  }
  #modal-date{
    padding-top: 1.6rem;
    border-top: 1px dashed #A6A9B6;
  }
}
.form-sec{
  margin-top: 2.6rem;
  +.form-sec{
    padding-top: 2rem;
    border-top: 1px dashed;
  }
  h2{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  input{
    padding: 1.4rem;
    border-radius: .8rem;
  }
  button{
    background: #101828;
    border-radius: 4px;
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1.4rem;
  }
}
#msg-popup{
  display: none;
  background: #fff;
  position: fixed;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: .8rem;
  padding: 1.4rem;
  border: 1px solid #A6A9B6;
  box-shadow: 0 0 5px 2px #A6A9B6;
  width: min(80%, 400px);
}

@media screen and (min-width: 768px){
  body{
    font-size: 1.6rem;
  }
  .sec-head-logo a{
    font-size: 3.8rem;
  }
  .post-txt{
    h3{
      font-size: 2.4rem;
    }
    p{
      font-size: 1.4rem;
    }
  }
  .modal-post{
    #modal-ttl{
      font-size: 2.4rem;
      line-height: 1.5;
      margin-bottom: 1.6rem;
    }
    #modal-body{
      line-height: 1.6;
      margin-bottom: 1.8rem;
    }
    #modal-date{
      font-size: 1.4rem;
    }
  }
  #list-posts{
    flex-direction: row;
    flex-wrap: wrap;
    >li{
      width: calc((100% - 6.4rem) / 3);
    }
  }
  .form-sec{
    form{
      flex-direction: row;
    }
    input{
      width: 40%;
    }
    button{
      width: 20%;
    }
  }
}